nbproject
._*
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock
vendor/
public/vendor/
config/development.config.php
config/application.config.old
config/autoload/local.php
config/autoload/*.local.php
config/autoload/*development.php
/build
/data/cache/*
data/logs/*
/data/DoctrineORMModule/*
/data/tmp/*
/config/autoload/*local*
/composer.phar
/tests/data/*
!.gitkeep
